body {
  font-family:Arial, Helvetica, sans-serif
}

.link-list {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
}

.link-list__link, .header__link {
  text-decoration: none;
}

.link-list__link:hover {
  text-decoration: underline;
}

.header__link:visited {
  color: black;
}

.index-container {
  display: flex;
  flex-wrap: wrap;
}

.index-container__column {
  display: inline-block;
  margin-right: 50px;
}

.column-heading {
  margin-top: 0px;
  margin-bottom: 5px;
}

.link-list__category {
  text-decoration: underline;
  margin-top: 0px;
  margin-bottom: 5px;
}

.photo-of-the-month {
  display: none;
  width: 400px;
  margin-bottom: 16px;
}

.image-container__image {
  margin-bottom: 20px;
}

@media (min-width: 500px) {
  .header, .index-container, .image-container {
    margin-left: 75px;
  }
}

@media (min-width: 900px) {
  .photo-of-the-month {
    display: block;
  }
}