body {
  font-family:Arial, Helvetica, sans-serif
}

ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
}

.link, .link-no-style {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link-no-style:visited {
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: inline-block;
  margin-right: 50px;
}

.heading {
  margin-top: 0px;
  margin-bottom: 5px;
}

.link-category {
  text-decoration: underline;
  margin-top: 0px;
  margin-bottom: 5px;
}

.photo-of-the-month {
  display: none;
  width: 400px;
  margin-bottom: 16px;
}

.image_container {
  margin-bottom: 20px;
}

@media (min-width: 500px) {
  nav, main {
    margin-left: 75px;
  }
}

@media (min-width: 900px) {
  .photo-of-the-month {
    display: block;
  }
}