{% extends 'base.html' %}

{% block content %}
  <main class="images">
    <p>{{data.get('folder').get('path')}}</p>
    <p>{{data.get('folder').get('description')}}</p>
    {% for image in data.get('images') %}
      <div>
        <img class='images__image' src="{{ url_for('static', filename=image) }}">
      </div>
    {% endfor %}
    {% if data.get('previous_folder') or data.get('next_folder') %}
      <div class="images_buttonContainer">
        {% if data.get('previous_folder') %}
          <a class="link" href={{url_for(data.get('show_folder_method'), folder_path=data.get('previous_folder').get('path'))}}>[<-- Previous]</a>
        {% endif %}
        {% if data.get('next_folder') %}
          <a class="link" href={{url_for(data.get('show_folder_method'), folder_path=data.get('next_folder').get('path'))}}>[Next -->]</a>
        {% endif %}
      </div>
    {% endif %}
  </main>
{% endblock %}