{% extends 'base.html' %}

{% block content %}
  <main class="index">
    <div class="index__column">
      <h4 class="index__heading">photos</h4>
      <ul class="index__list">
        {% for photo_folder in data.get('photo_folders') %}
          <li><a class="link" href={{url_for('show_photo_folder', folder_path=photo_folder.get('path'))}}>{{photo_folder.get('path')}}</a></li>
          {% if photo_folder.get('space_after')|int == 1 %}
            <br>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="index__column">
      <h4 class="index__heading">links</h4>
      {% for link_category in data.get('links') %}
        <ul class="index__list">
          <p class="index__category">{{link_category}}</p>
          {% for link in data.get('links').get(link_category) %}
            <li><a class="link" href={{link.get('link')}} target="_blank">{{link.get('description')}}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>

    <div class="index__column">
      {% if data.get('photo_of_the_month') %}
        <h4 class="index__photo-of-the-month-heading">photo of the month</h4>
        <img class='index__photo-of-the-month' src="{{ url_for('static', filename=data.get('photo_of_the_month')) }}">
      {% endif %}
      <h4 class="index__heading">drawings</h4>
      <ul class="index__list">
        {% for drawing_folder in data.get('drawing_folders') %}
          <li><a class="link" href={{url_for('show_drawing_folder', folder_path=drawing_folder.get('path'))}}>{{drawing_folder.get('path')}}</a></li>
          {% if drawing_folder.get('space_after')|int == 1 %}
            <br>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </main>
{% endblock %}